.buttons,
.main .profile {
    display: flex;
    justify-content: center
}

.main .profile {
    position: absolute;
    left: 0;
    right: 0;
    align-items: center;
    height: 80%;
    text-align: center
}

.profile .profile_inner h1 {
    padding: 12px 0
}

.profile .profile_inner span {
    padding: 10px 0;
    font-size: 18px
}

.profile img {
    display: inline-table;
    border-radius: 50%;
    pointer-events: none
}

@media screen and (max-width:600px) {
    .profile img {
        transform: scale(.85)
    }
}

.buttons {
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 8px;
    padding: 6px;
    transition: transform .1s
}

.button-inner {
    padding: 0 8px
}

.button:active {
    transform: scale(.96)
}
.button {
  background-color: white;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
}

.button.is-warning {
  background-color: #6441A4;
  border-color: transparent;
  color: rgba(250, 250, 250);
}

.button.is-warning:hover, .button.is-warning.is-hovered {
  background-color: #6441A4;
  border-color: transparent;
  color: rgba(250,250,250);
}

.button.is-warning:focus, .button.is-warning.is-focused {
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

.button.is-warning:focus:not(:active), .button.is-warning.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
}

.button.is-warning:active, .button.is-warning.is-active {
  background-color: #ffd83d;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}