<!-- Head custom content area start -->
<!-- Plausible Analytics -->
<script async defer data-domain="nicklafferty.com" src="https://plausible.io/js/script.js"></script>
<!-- End Plausible Analytics -->
<!-- Mediavine -->
<script type="text/javascript" async="async" data-noptimize="1" data-cfasync="false" src="//scripts.mediavine.com/tags/nick-lafferty.js"></script>
<meta http-equiv="Content-Security-Policy" content="block-all-mixed-content" />
<!--End  Mediavine -->
<!---Beam Analytics-->
<script src="https://beamanalytics.b-cdn.net/beam.min.js" data-token="6474731b-9cf6-4761-b363-34f31855c049" async></script>
<!---End Beam Analytics-->
<!-- MVF Tracker -->
<script> (function() { var d = document, s = d.createElement('script'), cb = new Date(), h = window.appWikiRequestUrl || 'https://appwiki.nl'; s.src = h + '/js/partner-brand-views-logger.js?cb=' + cb.getFullYear()+cb.getMonth()+cb.getDate()+cb.getHours(); s.defer = true; s.async = true; (d.head || d.body).appendChild(s); })(); </script> 
<!-- End MVF Tracker -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-41314241-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-41314241-2');
</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N7Q4F1VJXC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N7Q4F1VJXC');
</script>
<!-- Head custom content area end -->
{{ if .Params.noBannerAds}}
<div id="mediavine-settings" data-blocklist-all="1" ></div>
{{ end }}