<!-- Head custom content area start -->
<!-- Plausible Analytics -->
<script async defer data-domain="nicklafferty.com" src="https://stats.nicklafferty.com/js/index.js"></script>
<!-- End Plausible Analytics -->
<!-- MVF Tracker -->
<script> (function() { var d = document, s = d.createElement('script'), cb = new Date(), h = window.appWikiRequestUrl || 'https://appwiki.nl'; s.src = h + '/js/partner-brand-views-logger.js?cb=' + cb.getFullYear()+cb.getMonth()+cb.getDate()+cb.getHours(); s.defer = true; s.async = true; (d.head || d.body).appendChild(s); })(); </script> 
<!-- End MVF Tracker -->
<!-- Head custom content area end -->