{{- $scratch := newScratch}}

{{ if not (eq .Lastmod .Date) }}
{{ $dateformat := .Site.Params.DateFmt | default "Jan 02, 2006" }}
Updated&nbsp;<time datetime="{{.Lastmod}}">{{ .Lastmod.Format $dateformat }}</time> &nbsp;·&nbsp;
{{ else }}
{{- $scratch.Add "meta" (slice (.Date.Format (default "January 2, 2006" .Site.Params.DateFormat))) }}
{{- end -}}

{{- if $.Site.Params.ShowReadingTime -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%s min" .ReadingTime))) }}
{{- end -}}

{{ with (partial "author.html" . ) }}
{{ $scratch.Add "meta" (slice .)}}
{{end}}

{{- with ($scratch.Get "meta")}}
{{- delimit . "&nbsp;·&nbsp;"}}
{{- end }}
